
<div class="py-5 border-top">
  <div class="container">

    <!--<p class="h5 mb-3">{{ site.title | escape }}</p>-->

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
          &nbsp;
          {%- if site.email -%}
          <a href="mailto:{{ site.email }}"><img src="https://img.icons8.com/cotton/64/000000/new-message.png" height="16px" alt="E-Mail"></a>&nbsp;
          {%- endif -%}
          <a href="{{ site.link_github }}"><img src="/assets/logo/GitHub.png" height="16px" alt="GitHub"></a> 
          <a href="{{ site.link_linkedin }}"><img src="/assets/logo/linkedin.png" height="16px" alt="LinkedIn"></a>
          <a href="{{ site.link_xing }}"><img src="/assets/logo/xing.png" height="16px" alt="Xing"></a>
        </ul>
      </div>


      <div class="col-sm text-right">
        <!--<p>{{- site.description | escape -}}</p>-->

        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p>
      </div>

    </div>

  </div>
</div>
